body{
    background-image: url('pexels-fox-213399.jpg');
    background-position: center; /* centers the image within the element */
    background-size: cover;
  

  }
.image{
    background-color: transparent;
}
